/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 120px; /* Ajusta para evitar que el contenido sea tapado por el menú fijo */
}

.container {
    max-width: 1200px; /* Limita el ancho máximo a 1200px */
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #1E375A;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #E9F1FA;
}

/* Estilos de Navegación (Header) */
.navbar {
    background-color: #E9F1FA;
    color: #00ABE4;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .logo {
    width: 120px;
}

/* Menú visible en pantallas grandes */
.navbar nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    align-items: center;
}

.navbar nav ul li a {
    color: #1E375A;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
}

.navbar nav ul li a:hover {
    color: #00ABE4;
}

/* Estilo para los enlaces activos */
nav ul li a.active {
    color: #00ABE4;
    background-color: white;
    border-radius: 5px;
}

/* Menú hamburguesa */
.hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 999;
}

.hamburger-menu span {
    display: block;
    width: 30px;  /* Ancho de las líneas del menú */
    height: 3px;  /* Altura de cada línea */
    background-color: #ffffff;  /* Color de las líneas */
    margin: 6px 0;  /* Separación entre las líneas */
    transition: all 0.3s;  /* Animación de transición para la transformación */
}

.menu-toggle {
    display: none;
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.service-box {
    width: 30%;
    max-width: 600px;
    background-color: #E9F1FA; 
    color: #1E375A;
    padding: 20px;
    border-radius: 8px; /* Añade esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidad */
    margin-bottom: 20px;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

.projects-box {
    width: auto;
    max-width: 600px;
    background-color: #E9F1FA; 
    color: #1E375A;
    padding: 20px;
    border-radius: 8px; /* Añade esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidad */
    margin-bottom: 20px;
    text-align: center;

}

.projects-box img {
    margin: 15px;
    background-color: #E9F1FA; 
    color: #1E375A;
    padding: 10px; /* Espacio alrededor del logo */
    border-radius: 8px; /* Bordes redondeados */
    width: 350px; /* Controlar el tamaño de las imágenes */
    height: auto; /* Mantener la proporción */
}

.projects-extrabox {
    width: 90%;
    background-color: #E9F1FA;
    color: #1E375A;
    padding: 20px;
    border-radius: 8px; /* Añade esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para dar profundidad */
    margin-bottom: 20px;
    text-align: center;
}

/* Tecnologías y Logos */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.logo-container img {
    margin: 15px;
    background-color: #E9F1FA;
    padding: 10px; /* Espacio alrededor del logo */
    border-radius: 8px; /* Bordes redondeados */
    width: 100px; /* Controlar el tamaño de los logos */
    height: auto; /* Mantener la proporción */
}

/* Footer */
footer {
    background-color: #E9F1FA;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer-left p {
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
}

.footer-right img.uade-logo {
    height: 50px;
    margin-right: 15px;
    vertical-align: middle;
}

/* Ajustes Responsive */
@media (min-width: 401px) {
    nav ul {
        display: flex; /* Mostrar el menú horizontalmente en pantallas grandes */
    }

    .hamburger-menu {
        display: none; /* Ocultar el menú hamburguesa en pantallas grandes */
    }
}

@media (max-width: 400px) {
    .hamburger-menu {
        display: block; /* Mostrar el menú hamburguesa en pantallas pequeñas */
    }

    nav ul {
        display: flex; /* Mostrar el menú cuando se activa el checkbox */
        flex-direction: column;
    }

    nav {
        display: none; /* Ocultar el menú horizontal en pantallas pequeñas */
    }

    /* Cuando el menú hamburguesa está activo, mostrar el menú */
    .menu-toggle:checked ~ nav {
        display: flex;
        flex-direction: column;
        background-color: #E9F1FA;
        position: absolute;
        top: 110px;
        left: 0;
        right: 0;
        padding: 20px;
        z-index: 1;
    }

    .services-container, .soporte-icons, .projects-container, .team {
        flex-direction: column;
        align-items: center;
    }

    .service-box, .soporte-box, .projects-box, .projects-box img, .projects-extrabox {
        width: 80%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-left img.uade-logo {
        margin-right: 0;
        margin-top: 10px;
    }

    .footer-left p {
        margin-bottom: 10px;
    }

    .footer-right {
        margin-top: 10px;
    }
}